## Hritika Singh
### This is my first Hello World program

In [37]:
hello = "hello world"
print(hello)

hello world

### Code for Sum Diff Product Div Rem

In [1]:
a = 5
b = 10
sum_of_a_b= a + b
diff_of_a_b= a- b
product_of_a_b = a*b
div_of_a_b = a/b
rem_a_b = a % b

print(a ,b)
print(sum_of_a_b)
print(diff_of_a_b)
print(product_of_a_b)
print(div_of_a_b)
print(rem_a_b)

5 10
15
-5
50
0.5
5

## Hello

In [42]:
name = "Hritika Singh"
# length of the string
total_no_of_chars = len(name)
print(total_no_of_chars)
# sub-string
first_name = name [0:7] # 0,1,2,3,4,5,6,7
last_name = name [8:]
#get first char
first_char = name [0]
print(first_char)
#last char
last_char = name[len(name)-1]
print(first_name, last_name)
print(first_char, last_char)

paragraph = '''hahahahahahahahah'''
len(paragraph)

#concatination
full_name = first_name + " " + last_name

full_name1 = f"{first_name} {last_name}"

print(full_name, full_name1) 

print(name.upper())

13
H
Hritika Singh
H h
Hritika Singh Hritika Singh
HRITIKA SINGH

### Loop if else(iteration)

In [43]:
a = 10
b = 15
if a > b:
    print ("a is greater than b")
else:
    print ("b is greater than a")

day = 4
if day == 4:
    print("I have to wake up at 5 am")
    print("I have to go to college")
    print("Its Wednesday")

b is greater than a
I have to wake up at 5 am
I have to go to college
Its Wednesday

In [2]:
#if time is in between 10-12 print "It is time for math" 12-14 print "It is time for DSA" more than 14 print 
# "It is time for English"
time = 10
if time>=10 and time<12:
    print("It is time for math")
elif time>=12 and time<14: 
    print("It is time for DSA")
elif time>=14:
    print("It is time for English")
else:
    print("Not time for class")

It is time for math

### Loop (iteration)
#### while for

In [52]:
from time import sleep
counter = 1
while counter<=10:
    print(f"Hello {counter}")
    counter += 1 
    sleep(1)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [58]:
# find the sum if first n=100 natural numbers using while loop
i = 1
n = 100
sum = 0
while i<=n:
    sum += i
    i+=1
print(sum)

5050

In [63]:
# find the sum of first n even numbers, n=100 using while loop
i = 1
n = 100
sum_of_even_number = 0
sum_of_odd_number = 0
while i<=n:
    if i%2 == 0:
        sum_of_even_number += i
    else:
        sum_of_odd_number += i
    i+=1
print(sum_of_even_number, sum_of_odd_number)

2550 2500

## Python List
list is ordered collection of items

In [1]:
numbers = [1,2,3,4,5,5]
students = ['Ram','Hari']

#access elements from list
first_number = numbers[0]
print(first_number)
#count total number of items
total_items = len(numbers)
print(total_items)
#last element
last_element = numbers[total_items-1]
print(last_element)

1
6
5

# list methods
- append (appends new items at the end)
- pop (removes last element)
- count (return total number of items)
- insert (insert item at particular index)
- extend (extend the list)
- copy (copy items)
- clear (clear the items)

In [9]:
numbers = [1,4,4,5,6]
print(numbers)
# append items
numbers.append(8)
print(numbers)
# remove last item
numbers.pop()
print(numbers)
#remove
numbers.remove(6)
print(numbers)
#insert
numbers.insert(2,3)
print(numbers)
#count
print(numbers.count(4))
#extend
numbers_1 = [1,2]
numbers_2 = [3,4]
numbers_1.extend(numbers_2)
print(numbers_1)
#clear
numbers_1.clear()
print(numbers_1)

[1, 4, 4, 5, 6]
[1, 4, 4, 5, 6, 8]
[1, 4, 4, 5, 6]
[1, 4, 4, 5]
[1, 4, 3, 4, 5]
2
[1, 2, 3, 4]
[]

In [14]:
a = 5
b = a
a = a+1
print(a,b)

students = ['Hritika','Subhek']
new_students = students.copy()
students.append('Atit')
print(new_students)
if 'Hritika' in students:
    print('Hritika exist in students')

6 5
['Hritika', 'Subhek']
Hritika exist in students

### loop through list

In [21]:
#find the sum of all items of given lists
numbers = [1,2,3,4,5,6,6]

total_items = len(numbers)
print(total_items)
index=0
sum=0

while index<total_items:
    sum += numbers[index]
    index+=1
print(sum)

7
27

### find the max value from given lists

In [32]:
numbers = (-10,-3,-9,-50,-100,-1009)
total_items = len(numbers)
print(total_items)

index = 0
max_value = numbers[0]
while index<total_items:
    item = numbers[index]
    if item>max_value:
        max_value = item
    index+=1
print(max_value)

6
-3

### find the min value from given lists

In [34]:
numbers = [-10,-3,-9,-50,-100,-1009]
index = 0
min_value = numbers[0]
total_items = len(numbers)
while index<total_items:
    item = numbers[index]
    if item<min_value:
        min_value = item
    index+=1
   
print (min_value)

-1009

### join all list items into single item

In [35]:
students=['Hritika','Subhek','Atit']
all_students = '-'.join(students)
print(all_students)

Hritika-Subhek-Atit